Repository tdg5/pytest-helm-templates: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, safety-production-dependencies-check

.pre-commit-config.yaml:

exclude: "docs|.git|.tox"
default_stages: [commit]
default_language_version:
  python: python3.9
fail_fast: false

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: ["--preview"]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8p
        args: ["pytest_helm_templates", "pytest_helm_templates_test"]
        types: [python]
        additional_dependencies:
          - darglint
          - dlint
          - flake8-comprehensions
          - flake8-eradicate
          - flake8-spellcheck
          - flake8-typing-imports
          - mccabe
          - pep8-naming
      - id: mypy
        name: Mypy check
        entry: mypy
        language: system
        args: ["pytest_helm_templates", "pytest_helm_templates_test"]
        pass_filenames: false
      - id: isort
        name: isort
        entry: isort
        args: ["pytest_helm_templates", "pytest_helm_templates_test"]
        language: system
      - id: safety-production-dependencies-check
        name: Safety production dependencies check
        entry: safety
        args: [check, --policy-file=.safety-policy.yml, --full-report, --file]
        language: system
        files: requirements.txt
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: README.md
      - id: check-docstring-first
      - id: debug-statements
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: factories.py
      - id: requirements-txt-fixer
      - id: check-toml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-ast
      - id: check-symlinks

Cache pip dependencies in github workflows
  .github/workflows/main-branch.yaml
  .github/workflows/other-branch.yaml
  .github/workflows/release.yaml
Due: none

Only run coverage for source paths
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  pyproject.toml
Due: none

Exclude __version__.py from coverage and fail under 96% coverage
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
  pyproject.toml
Due: none

Add HelmRunner.computed_values
  pytest_helm_templates/helm_runner.py
  pytest_helm_templates_test/helm_runner_test.py
  pytest_helm_templates_test/test_helpers/fixtures/charts/test-chart/Chart.yaml
  pytest_helm_templates_test/test_helpers/fixtures/charts/test-chart/charts/dependency/Chart.yaml
  pytest_helm_templates_test/test_helpers/fixtures/charts/test-chart/charts/dependency/values.yaml
  pytest_helm_templates_test/test_helpers/fixtures/charts/test-chart/values.yaml
Due: black, flake8

Upgrade black to address vulnerability
  pyproject.toml
  requirements.txt
Due: safety-production-dependencies-check

[skip actions] Update code coverage snapshot
  .meta/coverage/report.txt
Due: none

Drop some arguments from HelmRunner.computed_values
  pytest_helm_templates/helm_runner.py
  pytest_helm_templates_test/helm_runner_test.py
Due: black, flake8

Add support for 'helm show values'
  pytest_helm_templates/commands/__init__.py
  pytest_helm_templates/commands/show_values_command.py
  pytest_helm_templates/helm_runner.py
  pytest_helm_templates_test/commands/show_values_command_test.py
  pytest_helm_templates_test/helm_runner_test.py
Due: black, flake8

Fix requirements check in release workflow
  .github/workflows/release.yaml
Due: none

Fix another release workflow bug
  .github/workflows/release.yaml
Due: none

Add basic support for 'helm dependency build'
  .gitignore
  pytest_helm_templates/helm_runner.py
  pytest_helm_templates_test/helm_runner_test.py
  pytest_helm_templates_test/test_helpers/fixtures/charts/test-chart/Chart.yaml
Due: black, flake8

Add basic support for 'helm dependency update'
  pytest_helm_templates/helm_runner.py
  pytest_helm_templates_test/helm_runner_test.py
Due: black, flake8

Add HelmRunner.dependency_update_if_missing
  pytest_helm_templates/__init__.py
  pytest_helm_templates/helm_runner.py
  pytest_helm_templates/types.py
  pytest_helm_templates_test/helm_runner_test.py
Due: black, flake8

[skip actions] Update code coverage snapshot
  .meta/coverage/badge.svg
  .meta/coverage/report.txt
Due: none

Upgrade github-action-pack to v0.0.6
  .github/workflows/main-branch.yaml
Due: none

Upgrade dependencies with vulnerabilities
  requirements.txt
Due: safety-production-dependencies-check

Upgrade vulnerable dependencies
  requirements.txt
Due: safety-production-dependencies-check

Refactor to add HelmRunner.adhoc_template
  pytest_helm_templates/helm_runner.py
  whitelist.txt
Due: black, flake8

Add test to make sure override delete of values works for templates
  pytest_helm_templates_test/helm_runner_test.py
Due: black, flake8
